body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    padding: 0 16px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.timelineContainer {
    width: 100%;
    position: relative;

    .laneList {
        display: flex;
        width: 100%;
        padding: 0;
        justify-content: space-between;
        overflow: hidden;

        .laneDay {
            list-style: none;
            height: 28px;

            .dropZone {
                position: absolute;
                height: 80px;
                top: 8px;
                z-index: -1;
                &.active {
                    z-index: 1;
                }
            }
        }
    }

    .event {
        position: absolute;
        color: white;
        padding: 5px;
        border-radius: 5px;
        border: 1px dashed white;

        &.hover {
            z-index: 2;
            cursor: grabbing;
        }

        &.dragging {
            z-index: 1;
            position: absolute;
            cursor: grabbing !important;
        }

        .fieldEditor {
            background-color: transparent;
            width: 100%;
            color: white;
            border: none;
            box-shadow: none;
            outline: none;
            font-size: 14px;
        }
    }
}

.headerContainer {
    width: 100%;

    .month {
        width: 100%;
        text-align: center;
        margin-top: 18px;
        font-size: 20px;

        .navigationIcon {
            cursor: pointer;
            margin: 0 10px;
            vertical-align: middle;

            &.disabled {
                color: #ccc;
            }
        }
    }

    .dayList {
        display: flex;
        display: flex;
        justify-content: space-between;
        padding: 0px;

        .day {
            list-style: none;
            padding: 0px;
        }
    }
}

.startHandlerResize,
.endHandlerResize {
    position: absolute;
    cursor: ew-resize;
    width: 10px;
    opacity: 0;
    top: 0;
    height: 28px;
    z-index: 1;
}
.startHandlerResize {
    left: 0;
}
.endHandlerResize {
    right: 0;
}

.resizeOverlay {
    position: absolute;
    top: -91px;
    left: 0;
    width: 100%;
    height: 200px;
    cursor: ew-resize;
    z-index: 10;
    // background: rgba(0, 0, 0, 0.1);
}

#invisible-image {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.buttonsContainer {
    text-align: right;

    .actionButtons {
        background-color: #f9f9f9;
        cursor: pointer;
        margin-left: 10px;
        padding: 4px 8px;
        border-radius: 5px;
    }
}

.timelineContainer {
    display: flex;
    transition: transform 0.3s ease;
}
.timelineContainerItem {
    width: 100%;
    flex: 0 0 auto;
    text-align: center;
    transition: opacity 0.3s ease;
}
